<section class="orders light-section">
  <div class="container mx-auto pt-12">
    <h1 class="font-bold text-lg mb-4">All Users</h1>
    <table class="w-full table-auto bg-white">
      <thead>
        <tr>
          <th class="border px-4 py-2 text-left">#</th>
          <th class="border px-4 py-2 text-left">Name</th>
          <th class="border px-4 py-2 text-left">Email</th>
          <th class="border px-4 py-2 text-left">Role</th>
          <th class="border px-4 py-2 text-left">Status</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((user, index)=>{%>
        <tr>
          <td class="border px-4 py-2"><%= Number(index)+1 %></td>
          <td class="border px-4 py-2"><%= user.name %></td>
          <td class="border px-4 py-2"><%= user.email %></td>
          <td class="border px-4 py-2"><%= user.role %></td>
          <td class="border px-4 py-2">
            <a
              class="<%= (user.active) ? 'bg-blue-600 hover:bg-blue-800' : 'bg-red-600 hover:bg-red-800' %> font-bold px-2 rounded transition duration-300 text-white py-1 cursor-pointer"
              href="/admin/users/<%= user.id %>/status"
            >
              <%= (user.active) ? "Active" : "Blocked" %>
            </a>
          </td>
        </tr>
        <% })%>
      </tbody>
    </table>
  </div>
</section>
